p {
  font-size: 1.5rem;
}

input{
  &.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  &.ng-valid.ng-touched{
    border: 1px solid green;
  }
  &.ng-pending.ng-touched{
    border: 3px solid blue;
  }
}

button[disabled]{
  border: 1px solid #999999;
  background-color: #666666;
  color: cornflowerblue;
}
